* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  color: green;
  margin-top: -20px;
}

.parent-container {
  margin-top: -20px; /* Adjust the value as needed */
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  margin-top: -20px;
}

/* Logo Styling */
.logo {
  width: 100px;
}

.about {
  margin: 10px;
  padding: 10px;
  /* color: rgb(175, 25, 25); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  margin: 10px;
  padding: 10px;
  /* color: rgb(175, 25, 25); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products img {
  width: 280px;
  height: 250px;
}

p {
  /* color: rgb(175, 25, 25); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

h3 {
  /* color: rgb(175, 25, 25); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

.partners {
  margin: 10px;
  padding: 10px;
  /* color: rgb(175, 25, 25); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners img {
  width: 280px;
  height: 250px;
}

.footer {
  display: flex;
  justify-content: space-around;
  /* background-color: #675b5b; */
  padding: 10px 20px;
  font-size: 30px;
}
