* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  /* padding: 10px 20px; */
}

/* Logo Styling */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.about {
  margin: 10px;
  padding: 10px;
  color: rgb(175, 25, 25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  margin: 10px;
  padding: 10px;
  color: rgb(175, 25, 25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
  font-weight: bold;
  /* display: grid; */
  /* grid-column: 1fx 1fx 1fx 1fx; */
  align-items: center;
}

p {
  color: rgb(175, 25, 25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
